<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-12">
            <div class="row holder">
               
                <div class="col-lg-12 d-flex flex-column justify-content-between">
                    <div class="m-3">
                        <img src="assets/events/{{event.image}}" class="img-fluid" alt="Responsive image">
                        <h2>{{event.name}}</h2>
                        <p>{{event.auther}}</p>
                        <p>{{event.start_date | date}}</p>
                        <p>{{event.description}}</p>
                        <p *ngIf="!event.is_free">₹{{event.price}}</p>
                        <p *ngIf="event.is_free">Free</p>
                        <p *ngIf="event.is_online">Event is online</p>
                        <p *ngIf="!event.is_online">Location: {{event.location}}</p>
                        <p></p>
                        <button class="btn btn-success" (click)="startEvent()">Start event</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
