<div class="card m-3" (click)="goToEvent()">
    <img src="assets/events/{{eventPic}}" class="card-img-top" alt="..." height="175">
    <div class="card-body">
        <div class="d-flex">
            <app-tags [text]="firstText" [ngClass]="{ 'mx-1': true }"></app-tags>
            <app-tags [text]="secondText" [ngClass]="{ 'mx-1': true }"></app-tags>
        </div>
        <div class="date">
            {{date | date }}
        </div>
      <h5 class="card-title">{{eventName}}</h5>
      <p class="card-text">{{'@'+eventOrganizer}}</p>
    </div>
</div>