<div class="container">
    <div class="row">
        <div class="form">
            <div class="alert alert-success d-flex justify-content-center" role="alert" *ngIf="userCreated == 1">
                User Created Successfully
            </div>
            <div class="alert alert-danger d-flex justify-content-center" role="alert" *ngIf="userCreated == 2">
                Error occured
            </div>
            <h1 class="text-center mb-3">Register</h1>
            <form [formGroup]="registerForm" (ngSubmit)="postData(registerForm)" autocomplete="off">
                <div class="form-outline mb-4">
                    <input type="text" class="form-control" placeholder="Full name" formControlName="name">
                </div>
                <div class="form-outline mb-4">
                    <input type="text" class="form-control" placeholder="username" formControlName="username">
                </div>
                <div class="form-outline mb-4">
                    <input type="password" class="form-control" placeholder="password" formControlName="password">
                </div>
                <button type="submit" class="btn btn-primary w-100">Register</button>
            </form>
            <hr>
            <p class="text-center">Already a user? Click <a routerLink="/login" href="#">Login</a></p>
            
        </div>
    </div>
</div>
